/* html & body */

* {
    box-sizing: border-box;
}

html {
    background: url("tumblr_inline_mlky22MWwd1r53miq.png");
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", 
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", 
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

body {
    background-color: rgba(192,192,192,0.6);
    color: black;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    min-width: 500px;
    max-width: 500px;

}

/* calculator */

.main {
    border: 2px solid;
    margin-top: 200px;
}

.main input {
    background: none;
    box-shadow: none;
    font-size: 40px;
    padding: 20px;
    width: 100%;
    text-align: right;
    
}

.calculator-grid {
    display: grid;
    grid-gap: 5px;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    padding: 20px;
}

.calc-button {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #111;
    color: whitesmoke;
    cursor: pointer;
    font-size: 22px;
    padding: 20px;
}

.span3 {
    grid-column: span 3;
}

.span2 {
    grid-column: span 2;
}

.redback {
    background: rgba(255,99,71, 0.8) ;
}

.greenback {
    background: rgba(144,238,144, 0.8);
}
